﻿<%@ Page Title="" Language="C#" MasterPageFile="MainPage.master" AutoEventWireup="true" CodeFile="Default2.aspx.cs" Inherits="Default2" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
<form id="frm1">
<asp:UpdatePanel runat="server" ID="upnl" UpdateMode="Conditional" >

<ContentTemplate>

        <asp:TextBox ID="TextBox1" runat="server"></asp:TextBox>
        <asp:Button ID="Button1" runat="server" Text="Button"/>
    <asp:Label ID="label1" runat="server"></asp:Label>
    <br />
    
    
    <asp:Image ID="EmpPhoto" runat="server" Width="120" Height="120" class="img-circle avatar" />
<br />

<asp:Button ID="enableTable" runat="server" Text="Enable table(s)" OnClick="enableTable_Click" />


</ContentTemplate>
<Triggers>
                <asp:AsyncPostBackTrigger ControlID="enableTable" EventName="Click" />
            </Triggers>
</asp:UpdatePanel>
</form>
</asp:Content>

