﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="ReportDisplay.aspx.cs" Inherits="Reports_ReportDisplay" %>

<%@ Register Assembly="CrystalDecisions.Web, Version=12.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"
    Namespace="CrystalDecisions.Web" TagPrefix="CR" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
   <div>
   
    <CR:CrystalReportViewer ID="CrystalReportViewer1" runat="server" AutoDataBind="true" />
    </div>
    <div class="txtcenter">
                        <asp:Label ID="lblUploadSuccessfully" runat="server" Font-Bold="True" 
                            Font-Size="Larger" ForeColor="Red"></asp:Label>
                                 
                    </div>
    
    </form>
</body>
</html>
