body
        {
            font-family: Arial;
            font-size: 10pt;
        }
        .modalBackground
        {
            background-color: Black;
            filter: alpha(opacity=60);
            opacity: 0.6;
            z-index: 6000 !important;
        }
        .modalPopup
        {
            background-color: #FFFFFF;
            width: 600px;
            border: 3px solid #6C2C86;
            border-radius: 12px;
            padding: 0;
            z-index: 6001 !important;
        }
        .modalPopup .header
        {
            background-color: #6C2C86;
            height: 30px;
            color: White;
            line-height: 30px;
            text-align: center;
            font-weight: bold;
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;
        }
        .modalPopup .body
        {
            min-height: 50px;
            line-height: 30px;
            text-align: center;
            font-weight: bold;
        }
        .modalPopup .footer
        {
            padding: 6px;
        }
        .modalPopup .yes, .modalPopup .no
        {
            height: 23px;
            color: White;
            line-height: 23px;
            text-align: center;
            font-weight: bold;
            cursor: pointer;
            border-radius: 4px;
        }
        .modalPopup .yes
        {
            background-color: #6C2C86;
            border: 1px solid #6C2C86;
        }
        .modalPopup .no
        {
            background-color: #9F9F9F;
            border: 1px solid #5C5C5C;
        }
        .Size
        {
        width:70px;
        height:27px;	
        }
        .form_error
        {
        	height:10px;
        	margin-top:0px;
        }
        .headsize
        {
        	margin-top:15px;
        }
    
